<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico">
    <title>{% block title "HILDA FTW!" %}</title>
    {% block stylesheets %}
        <!--stylesheet include-->
        <link rel="stylesheet" type="text/css" media="all" href="/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
<!--header-->
<!--content-->
<div class="container">
    {% block content "" %}
</div>
<!-- footer-->
{% block javascripts %}
    <!--scripts include-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>